img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    float: left;
    border-radius: 100px;
    grid-row: 1 / span 2;
}
.card {
    display: grid;
    grid-template-columns: max-content auto;
    border: 1x solid gray;
}
.main-title {
    font-size: 40px;
}